.cache/
.lsp-session-v1
auto-save-list/
backups/
custom.el
early-init.el
eclipse.jdt.ls/
elisp-autofmt-cache/
elpa/
eshell/
history
init.el
language-servers/
lisp/
lsp-installer-github-cache.eld
lsp-proxy/
mason/
places.eld
projects.eld
recentf.eld
tmp/
tramp
transient/
tree-sitter/
var/
workspace/
